.header {
    padding: 2.4rem 1.6rem 8.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $bp-tablet) {
        padding: 4rem 4rem 8rem;
    }
}
