.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 2.7rem;

    &__link {
        text-decoration: none;
        color: var(--color-dark-blue);
        font-size: 2rem;
        transition: all 0.25s ease-out;

        &:hover,
        &:active {
            opacity: 0.5;
        }
    }
}
