body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.009rem;
    color: var(--color-grey);

    @media only screen and (min-width: $bp-desktop) {
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: 0.01rem;
    }
}

%quote {
    font-size: 1.8rem;
    line-height: 3.2rem;

    @media only screen and (min-width: $bp-desktop) {
        font-size: 2rem;
        line-height: 3.5rem;
    }
}

%footer-font {
    font-size: 1.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.008rem;
}

%stat-number-font {
    font-size: 4.8rem;
    font-weight: var(--fw-bold);
    line-height: 5.6rem;
    letter-spacing: normal;

    @media only screen and (min-width: $bp-desktop) {
        letter-spacing: -0.05rem;
    }
}

%btn-font {
    font-weight: var(--fw-bold);

    &--primary {
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: -0.018rem;
    }

    &--secondary {
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: -0.014rem;

        @media only screen and (min-width: $bp-tablet) {
            font-size: 1.6rem;
            line-height: 3.2rem;
            letter-spacing: -0.016rem;
        }
    }
}

.heading {
    font-weight: var(--fw-regular);
    font-style: normal;
    color: var(--color-dark-blue);

    &--bold {
        font-weight: var(--fw-bold);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--xl {
        font-size: 3.8rem;
        line-height: 4.4rem;
        letter-spacing: -0.053rem;

        @media only screen and (min-width: $bp-tablet) {
            font-size: 5.6rem;
            line-height: 6.4rem;
            letter-spacing: -0.078rem;
        }

        @media only screen and (min-width: $bp-desktop) {
            font-size: 7.2rem;
            line-height: 7.8rem;
            letter-spacing: -0.01rem;
        }
    }

    &--l {
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: -0.042rem;

        @media only screen and (min-width: $bp-desktop) {
            font-size: 4.8rem;
            line-height: 5.6rem;
            letter-spacing: -0.05rem;
        }
    }

    &--m {
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: -0.018rem;
    }

    &--s {
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.25rem; 
    }
}
